[data-transition-duration] {
  transition-property: all;
  transition-timing-function: ease;
}

[data-transition-duration="0s"] {
  transition-duration: 0s;
}

[data-transition-duration="250ms"] {
  transition-duration: 250ms;
}

[data-transition-duration="500ms"] {
  transition-duration: 500ms;
}

[data-transition-duration="1s"] {
  transition-duration: 1s;
}

[data-transition-duration="1500ms"] {
  transition-duration: 1500ms;
}


<div data-transition-duration="500ms">This element will transition over 500ms</div>
